@using YemekSitesi.Entity.Concrete
@model List<Category>

<div class="list-group">
    <a class="list-group-item list-group-item-action"
       asp-controller="Food"
       asp-action="FoodList"
       asp-route-categoryurl="">Tümünü göster</a>
    @foreach (var category in Model)
    {
        <a class="list-group-item list-group-item-action"
       asp-controller="Food"
       asp-action="FoodList"
       asp-route-categoryurl="@category.Url">@category.Name</a>
    }
</div>

