@* bu sayfalar, içeriisnde C# kodları ile HTML kodlarını birlikte yazmamzıı saglar,
bunlara Razor Page denir MVC yapısı içinde Wiew olarak da adlandırılır *@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz!</h1>
    <p>Bu paragrafı biz yazdık</p>
    <button class="btn btn-success">Ekle</button>
    <button class="btn btn-danger">Sil</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
