
<div class="card">
    <div class="card-header bg-danger text-white fs-4">
        Kategori
    </div>
    <div class="card-body ">
        <h5 class="card-title">Yemek Kategori Bilgileri</h5>
        <p class="card-text">Değişiklik yapmak istediğiniz kategoriler için aşşağıdaki butona Tıklayınız.</p>
        <a class="btn btn-success"
           asp-area="Admin"
           asp-controller="Category"
           asp-action="Index">Yemek Kategorileri</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header bg-danger text-white fs-4">
        Yemek
    </div>
    <div class="card-body">
        <h5 class="card-title">Yemek Tarif Bilgileri</h5>
        <p class="card-text">Değişiklik yapmak istediğiniz yemek tarifleri için aşşağıdaki butona Tıklayınız..</p>
        <a class="btn btn-success"
           asp-area="Admin"
           asp-controller="Food"
           asp-action="Index">Yemek Tarifleri</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header bg-danger text-white fs-4">
        Rol
    </div>
    <div class="card-body">
        <h5 class="card-title">Rol Bilgileri</h5>
        <p class="card-text">Değişiklik yapmak istediğiniz Rol Bilgileri için aşşağıdaki butona Tıklayınız..</p>
        <a class="btn btn-success"
           asp-area="Admin"
           asp-controller="Role"
           asp-action="Index">Roller</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header bg-danger text-white fs-4">
        Üyeler
    </div>
    <div class="card-body">
        <h5 class="card-title">Rol Bilgileri</h5>
        <p class="card-text">Değişiklik yapmak istediğiniz Üye Bilgileri için aşşağıdaki butona Tıklayınız..</p>
        <a class="btn btn-success"
           asp-area="Admin"
           asp-controller="User"
           asp-action="Index">Üyeler</a>
    </div>
</div>



