@*//Bu partial product yok ise gösterşlmek üzere tasaralandı*@

<div class="row">
    <div class="col-12">
        <div class="alert alert alert-danger">
            Aradığınız ürün bulunamdı
        </div>
    </div>
</div>