/*dropdowun ordaki oku klad覺rd覺k*/
.dropdown-toggle::after{
    display: none;
}

/*3 noktal覺 divi sag dayad覺k*/
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task label.checked{
    text-decoration: line-through;
}